# macOs only https://github.com/sorah/envchain
# envchain --set --noecho workshop RENOVATE_TOKEN
export RENOVATE_TOKEN=$(envchain workshop env | grep RENOVATE_TOKEN | cut -d'=' -f2)
export RENOVATE_AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
export RENOVATE_AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
export RENOVATE_AWS_ECR_TOKEN=$(aws ecr-public get-login-password --region us-east-1)
export RENOVATE_AWS_ECR_PWD=$(aws ecr get-login-password --region eu-west-1)
